<div mat-dialog-title>Авторизація</div>

<form [formGroup]="loginForm">
    <mat-form-field>
        <input matInput
               formControlName="email"
               ngDefaultControl
               type="email"
               placeholder="Email">
    </mat-form-field>

    <mat-form-field>
        <input matInput
               formControlName="password"
               ngDefaultControl
               type="password"
               autocomplete="off"
               placeholder="Пароль">
    </mat-form-field>
</form>

<div mat-dialog-actions>
  <button mat-dialog-close mat-button>Закрити</button>
  <button mat-raised-button
          ngClass="login-form__submit"
          type="submit"
          color="primary"
          [disabled]="authService.isAuthInProgress || loginForm.invalid"
          (click)="authService.login(loginForm.value, dialogRef)">Увійти
  </button>
</div>
