<mat-drawer-container class="example-container" autosize>
  <mat-icon class="burger" (click)="drawer.toggle()" *ngIf="(authService.isLoggedIn$ | async) && !drawer.opened">menu</mat-icon>
  <mat-drawer #drawer [class.d-none]="!(authService.isLoggedIn$ | async)" class="example-sidenav" mode="side">
      <div class="empty-block">
        <mat-icon class="burger" (click)="drawer.toggle()" *ngIf="drawer.opened">menu</mat-icon>
      </div>
      <div class="tabs">
        <div class="tab" (click)="goToTab('questionnaire-list')">
          Опитування
        </div>
        <div class="tab" *ngIf="userService.isAdmin" (click)="goToTab('questionnaire-edit/1')">
          Тест на компетентність
        </div>
        <div class="tab" *ngIf="userService.isExpert && !userService.isVerified" (click)="goToTab('questionnaire-pass/1')">
          Тест на компетентність
        </div>
        <div class="tab" (click)="goToTab('user-list')">
          Користувачі
        </div>
      </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <app-header *ngIf="authService.isLoggedIn$ | async"></app-header>

    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>

