<div class="header">
  <div class="title">Користувачі</div>
  <div class="filter">
    <mat-form-field>
      <input matInput [formControl]="emailCtrl" placeholder="Фільтр по email">
    </mat-form-field>
  </div>
</div>
<mat-card>
    <component-state [state]="state" [getData]="getUserList">
        <mat-table [dataSource]="dataService.expertList" class="mat-elevation-z8">
            <!-- Position Column -->
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> И'мя </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.firstName}} {{ element.lastName }} </mat-cell>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="phone">
                <mat-header-cell *matHeaderCellDef>Телефон</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.phone}} </mat-cell>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-icon matTooltip="Верифікувати експерта"
                              *ngIf="userService.isAdmin && element.role === 'EXPERT' && !element.verified"
                              (click)="$event.stopPropagation(); verifyUser(element.id)">
                      verified_user
                    </mat-icon>
                    <mat-icon matTooltip="Зробити адміністратором"
                              *ngIf="userService.isAdmin && element.role !== 'ADMIN'"
                              (click)="$event.stopPropagation(); makeAdmin(element)">
                      lock_open
                    </mat-icon>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row (click)="goToUser(row.id)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </component-state>
</mat-card>

